<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<div class="menu">
  <nav class="navbar navbar-light justify-content-end" style="background-color: #0c3d63" >
    <ul class="nav">
     <li class="nav-item">
      <a class="nav-link" href="/home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/parceiros">Parceiros</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/ong">Ongs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/evento">Eventos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/quemsomos">Quem Somos</a>
    </li>
    
  </ul>
  </nav>
</div>

<div id="carousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="../assets/_banner2.jpg" alt="adocao animal">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../assets/_comida.jpg" alt="adocao comida">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../assets/_dinheiro.jpg" alt="adocao dinheiro">
    </div>
  </div>
</div>


<div id="foto_animal">
  <img class="ong_animal" src="../assets/_animal.jpg" >
  <h2>Animais</h2><br>
  <p>Ajude as Ongs nos cuidados e proteções contra os animais. Veja mais sobre a campanha e seja um apoiador</p>
  <button class="botao_foto_animal"><a class="linkbotao" href="/ong">Veja mais>></a></button>
</div>
<div id="foto_comida">
  <img class="ong_comida" src="../assets/_comida.jpg" ><br>
  <h2>Comida</h2><br>
  <p>Ajude as Ongs contra combate contra a fome. Veja mais sobre a campanhas abertas e seja um apoiador</p>
  <button class="botao_foto_comida" ><a class="linkbotao" href="/ong">Veja mais>></a></button>
</div>
<div id="foto_roupa">
  <img class="ong_roupa" src="../assets/_roupa.jpg" ><br>
  <h2>Roupas</h2><br>
  <p>Ajude as Ongs contra o frio. Veja mais sobre a campanhas abertas e seja um apoiador</p>
  <button class="botao_foto_roupa"><a class="linkbotao" href="/ong">Veja mais>></a></button>
</div>
<div id="foto_gong">
  <img class="ong_gong" src="../assets/_quemsomos.jpg" ><br>
  <h2>Quem Somos</h2><br>
  <p>Ainda não nos conehece? Click no botão abaixo e conheça mais sobre nosso trabalho</p>
  <button class="botao_foto_gong"><a class="linkbotao" href="/quemsomos">Veja mais>></a></button> 
</div>
