<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<div class="menu">
  <nav class="navbar navbar-light justify-content-end" style="background-color: #0c3d63" >
    <ul class="nav">
     <li class="nav-item">
      <a class="nav-link" href="/home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/parceiros">Parceiros</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/evento">Eventos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/quemsomos">Quem Somos</a>
    </li>
    <button class="btn-cadastro">Cadastro</button>
  </ul>
  </nav>
</div>

<div>
  <h1>Conheça nossos parceiros</h1>
  <h2>Venha ser um você também !!</h2>
</div>

<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">CPF</th>
        <th scope="col">Endereço</th>
        <th scope="col">E-mail</th>
        <th scope="col">Telefone</th>
        <th scope="col">Password</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of Participante">
        <th scope="row">{{ c.id_participante }}</th>
        <td>{{ c.nome }}</td>
        <td>{{ c.cpf }}</td>
        <td>{{ c.endereco }}</td>
        <td>{{ c.email }}</td>
        <td>{{ c.telefone }}</td>
        <td>{{ c.password }}</td>
      </tr>
    </tbody>
  </table>