<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<div class="menu">
  <nav class="navbar navbar-light justify-content-end" style="background-color: #0c3d63" >
    <ul class="nav">
     <li class="nav-item">
      <a class="nav-link" href="/home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/parceiros">Parceiros</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/evento">Eventos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/quemsomos">Quem Somos</a>
    </li>
    <button class="btn-cadastro">Cadastro</button>
  </ul>
  </nav>
</div>

<div>
  <h1>Conheça nossos parceiros</h1>
  <h2>Venha ser um você também !!</h2>
</div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Atuação</th>
      <th scope="col">Contato</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Ong 1</th>
      <td>Comida</td>
      <td>Rua 30, Bairro X, Belo Horizonte</td>
    </tr>
    <tr>
      <th scope="row">Ong 2</th>
      <td>Pet</td>
      <td>Rua 20, Bairro Y, Contagem</td>
    </tr>
    <tr>
      <th scope="row">Ong 3</th>
      <td>Roupa</td>
      <td>Rua 50, Bairro 5, Betim</td>
    </tr>
  </tbody>
</table>