<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<div class="menu">
  <nav class="navbar navbar-light justify-content-end" style="background-color: #0c3d63" >
    <ul class="nav">
     <li class="nav-item">
      <a class="nav-link" href="/home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/parceiros">Parceiros</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/ong">Ongs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/evento">Eventos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/quemsomos">Quem Somos</a>
    </li>
    
  </ul>
  </nav>
</div>
<div>
  <h1>Eventos</h1>
  <h2>Veja os eventos disponíveis.</h2> 
  <h3>Nos ajude melhorar o mundo a nova volta.</h3>
</div><br>

<div *ngIf="evento.id != -2" class="form-group" ></div>
<input type="hidden"  [(ngModel)]="evento.id">
<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group mr-2" role="group" aria-label="Second group">
    <button type="submit" class="btn btn-primary" (click)="listar()">Listar</button>
  </div>
</div><br>

<table class="table">
  <thead class="cabeca_tabela">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Data</th>
      <th scope="col">Descricao</th>
      <th scope="col">Local</th>
      <th scope="col">Quantidade de participantes</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let e of eventos">
      <th  scope="row">{{ e.id }}</th>
      <td>{{ e.nome }}</td>
      <td>{{ e.data_hora }}</td>
      <td>{{ e.descricao}}</td>
      <td>{{ e.local }}</td>
      <td>{{ e.quant_participante }}</td>
    </tr>
  </tbody>
</table>