<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<div class="menu">
  <nav class="navbar navbar-light justify-content-end" style="background-color: #0c3d63" >
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="/home">Home</a>
      </li>
    <li class="nav-item">
      <a class="nav-link" href="/parceiros">Parceiros</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/evento">Eventos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/quemsomos">Quem Somos</a>
    </li>
    <button class="btn-cadastro">Cadastro</button>
  </ul>
  </nav>
</div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Descrição</th>
      <th scope="col">Hora e data</th>
      <th scope="col">Local</th>
      <th scope="col">Quantidade de pessoas</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Sauve os cachorros</th>
      <td>Em defesa dos animais</td>
      <td>Dia 30 de maio</td>
      <td>Contagem</td>
      <td>50</td>
    </tr>
    <tr>
      <th scope="row">Contra a fome</th>
      <td>Fornecendo comida para os mais nessecitados</td>
      <td>Dia 5 de maio</td>
      <td>Belo Horizonte</td>
      <td>100</td>
    </tr>
    <tr>
      <th scope="row">Contra o frio</th>
      <td>Combate ao frio é o nosso lema</td>
      <td>Dia 25 de fevereiro</td>
      <td>Contagem</td>
      <td>20</td>
    </tr>
  </tbody>
</table>