<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<div class="menu">
    <nav class="navbar navbar-light justify-content-end" style="background-color: #0c3d63" >
      <ul class="nav">
       <li class="nav-item">
        <a class="nav-link" href="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/parceiros">Parceiros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/ong">Ongs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/evento">Eventos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/quemsomos">Quem Somos</a>
      </li>
      
    </ul>
    </nav>
  </div>

  <div>
    <h1>Conheça nossos parceiros</h1>
  </div>

  <div *ngIf="ong.id != -2" class="form-group" ></div>
  <input type="hidden"  [(ngModel)]="ong.nome">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Cadastro</span>
    </div>
    <input type="text" [(ngModel)]="ong.nome" class="form-control" aria-label="Nome" aria-describedby="basic-addon1" placeholder="Nome">
    <input type="text" [(ngModel)]="ong.cnpj" class="form-control" aria-label="Cnpj" aria-describedby="basic-addon1" placeholder="Cnpj">
    <input type="text" [(ngModel)]="ong.cpf" class="form-control" aria-label="Cpf" aria-describedby="basic-addon1" placeholder="Cpf">
    <input type="text" [(ngModel)]="ong.email" class="form-control" aria-label="email" aria-describedby="basic-addon1" placeholder="E-mail">
    <input type="text" [(ngModel)]="ong.endereco" class="form-control" aria-label="endereco" aria-describedby="basic-addon1" placeholder="Endereço">
    <input type="text" [(ngModel)]="ong.telefone" class="form-control" aria-label="telefone" aria-describedby="basic-addon1" placeholder="Telefone">
  </div>
  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-2" role="group" aria-label="First group">
      <button *ngIf="ong.id == -2" type="submit" class="btn btn-primary" (click)="gravar()">Gravar</button>
      <button *ngIf="ong.id > 0" type="submit" class="btn btn-primary" (click)="gravar()">Alterar</button>
    </div>
    <div *ngIf="ong.id > 0" class="btn-group mr-2" role="group" aria-label="Second group">
      <button type="submit" class="btn btn-primary" (click)="excluir(ong.id)">Excluir</button>
    </div>
    <div class="btn-group mr-2" role="group" aria-label="Second group">
      <button type="submit" class="btn btn-primary" (click)="listar()">Listar</button>
    </div>
    <div>
      <button *ngIf="ong.id == -2" type="submit" class="btn btn-primary" (click)="novo()">Novo</button>
    </div>
  </div>
  
  
  <h2>ONG's</h2>
  
  <table class="table">
    <thead class="cabeca_tabela">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Endereço</th>
        <th scope="col">E-mail</th>
        <th scope="col">Telefone</th>
        <th scope="col">Editar</th>
        <th scope="col">Excluir</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let o of ongs">
        <th  scope="row">{{ o.id }}</th>
        <td>{{ o.nome }}</td>
        <td>{{ o.endereco }}</td>
        <td>{{ o.email }}</td>
        <td>{{ o.telefone }}</td>
        <td><button (click)="editar(o)" class="btn btn-default"><svg class="bi bi-pencil-square" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M15.502 1.94a.5.5 0 010 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 01.707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 00-.121.196l-.805 2.414a.25.25 0 00.316.316l2.414-.805a.5.5 0 00.196-.12l6.813-6.814z"/>
          <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 002.5 15h11a1.5 1.5 0 001.5-1.5v-6a.5.5 0 00-1 0v6a.5.5 0 01-.5.5h-11a.5.5 0 01-.5-.5v-11a.5.5 0 01.5-.5H9a.5.5 0 000-1H2.5A1.5 1.5 0 001 2.5v11z" clip-rule="evenodd"/>
        </svg></button></td>
        <td><button (click)="excluir(o.id)" class="btn btn-default"><svg class="bi bi-x-circle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M8 15A7 7 0 108 1a7 7 0 000 14zm0 1A8 8 0 108 0a8 8 0 000 16z" clip-rule="evenodd"/>
          <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 010 .708l-7 7a.5.5 0 01-.708-.708l7-7a.5.5 0 01.708 0z" clip-rule="evenodd"/>
          <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 000 .708l7 7a.5.5 0 00.708-.708l-7-7a.5.5 0 00-.708 0z" clip-rule="evenodd"/>
        </svg></button></td>
      </tr>
    </tbody>
  </table>
  