<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<div class="menu">
  <nav class="navbar navbar-light justify-content-end" style="background-color: #0c3d63" >
    <ul class="nav">
     <li class="nav-item">
      <a class="nav-link" href="/home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/parceiros">Parceiros</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/ong">Ongs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/evento">Eventos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/quemsomos">Quem Somos</a>
    </li>
    <button class="btn-cadastro">Cadastro</button>
  </ul>
  </nav>
</div>

<div id="textoQuemsomos">
  <img  class ="logoUnibh" src="../../../assets/_logounibh.png" alt="Logo Unibh">
  <h1>Quem Somos</h1>
  <p>Somos estudantes da Universidade de Belo Horizonte (Unibh) e o nosso propósito com desse projeto é facilitar a relação entre Ongs.<br>
  Quando pegamos sites de pequenas ongs o que podemos ver que em geral são pagínas pouco intuitivas e não muito amigável e com pouco conteúdo. Por conta disso, uma pessoa que deseja ser voluntario com ongs de animais e doação de roupa tinha que pesquisar mais de uma vez para achar o que deseja. Por isso, contruimos essa página para ser a ponte entre ongs e voluntarios de forma confiavel e segura. </p>
</div>